@model SalaoDoPantcho.Web.Models.Sistema.Clientes.ViewModelClientesLoginSenha
@{
    ViewBag.Title = "Salão do Pantcho - Área do Cliente";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="row">
    <div class="col-sm-8">
        <h1>Salão do Pantcho</h1>
        <h4>Barbershop</h4>
        <hr />
        <h5>Área Restrita do Cliente</h5><br />
        <div class="col-sm-4 formcontato" id="frmLogin">
            <h6 class="txtformulariodecontato">Formulário de Login</h6><hr />
            @if (@TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success" style="text-align:center;" role="alert">
                    @TempData["MensagemSucesso"]
                </div>
            }
            @if (@TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger" style="text-align:center;" role="alert">
                    @TempData["MensagemErro"]
                </div>
            }
            @using (Html.BeginForm("RealizarLoginCliente", "SistemaCliente", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div class="txtErro">
                    @Html.ValidationSummary()
                </div>
                <div class="form-group">
                    @Html.LabelFor(cliente => cliente.Login, new { @for = "login" })<br />
                    @Html.TextBoxFor(cliente => cliente.Login, new { @type = "text", @class = "form-control", @id = "login", @placeholder = "Digite seu login...", @accesskey = "1" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(cliente => cliente.Senha, new { @for = "senha" })<br />
                    @Html.PasswordFor(cliente => cliente.Senha, new { @type = "password", @class = "form-control", @id = "senha", @placeholder = "Digite sua senha...", @accesskey = "5" })
                </div>
                <input type="submit" class="btn btn-primary" value="Login" alt="Login" title="Login" /><br />
            }
            <a class="btn btn-link linkesquecilembreiloginsenha" id="MostrarfrmRecuperacao">
                Esqueci meu Login/Senha
            </a>
            <a class="btn btn-link linkesquecilembreiloginsenha" href="/SistemaCliente/Cadastro">Sou Novo Cliente</a>
        </div>
        <div class="col-sm-4 formcontato" id="frmRecuperacao">
            <h6 class="txtformulariodecontato">Formulário de Recuperação de Login/Senha</h6><hr />
            @if (@TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success" style="text-align:center;" role="alert">
                    @TempData["MensagemSucesso"]
                </div>
            }
            @if (@TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger" style="text-align:center;" role="alert">
                    @TempData["MensagemErro"]
                </div>
            }
            @using (Html.BeginForm("RecuperarLoginSenhaCliente", "SistemaCliente", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div class="txtErro">
                    @Html.ValidationSummary()
                </div>
                <div class="form-group">
                    @Html.LabelFor(cliente => cliente.Nomeapelido, new { @for = "nomeapelido" })<br />
                    @Html.TextBoxFor(cliente => cliente.Nomeapelido, new { @type = "text", @class = "form-control", @id = "login", @placeholder = "Digite seu nome ou apelido...", @accesskey = "10" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(cliente => cliente.Email, new { @for = "email" })<br />
                    @Html.TextBoxFor(cliente => cliente.Email, new { @type = "email", @class = "form-control", @id = "email", @placeholder = "Digite seu email...", @accesskey = "15" })
                </div>
                <input type="submit" class="btn btn-primary" value="Recuperar Login/Senha" alt="Recuperar Login/Senha"
                       title="Recuperar Login/Senha" />
            }
            <a class="btn btn-link linkesquecilembreiloginsenha" id="MostrarfrmLogin">Lembrei meu Login/Senha</a>            
        </div>
    </div>    
    <div class="col-sm-8">
        <a class="btn btn-link" href="/Sistema/Index">Voltar</a>
    </div>    
</section>